# Preparação de Arquivos NASDAQ

### Este notebook faz parte de um projeto de Análise do Mercado de Ações 
### durante os períodos de governo americano por Joe Biden e Donaldo Trump.
### Ele prepara os arquivos baixados do site da NASDAQ com o Common Stock
### de 12 das principais empresas de tecnologia :
- ADOBE
- ALPHABET (Google Class A)
- ALPHABET (Google Class C)
- AMAZON
- APPLE
- IBM
- INTEL
- META (Class A)
- MICROSOFT
- NVIDIA
- ORACLE
- PAYPAL
- TESLA

### Todos os arquivos CSV foram analisados previamente e possuem exatamente o mesmo formato e tamanho :  
- 1258 Linhas
- 6 Colunas
- Iniciam  em : 23.01.2025 (Data mais Recente)
- Terminam em : 24.01.2020 (Data Mais Antiga)

In [1]:
# Imports

import pandas as pd

## Carrega os Datasets

In [2]:
# Cria os dataframes com a carga dos arquivos CSV

df_adobe = pd.read_csv('Adobe-2025.csv')
df_google_a = pd.read_csv('Google-A-2025.csv')
df_google_c = pd.read_csv('Google-C-2025.csv')
df_amazon = pd.read_csv('Amazon-2025.csv')
df_apple = pd.read_csv('Apple-2025.csv')
df_ibm = pd.read_csv('IBM-2025.csv')
df_intel = pd.read_csv('Intel-2025.csv')
df_meta = pd.read_csv('Meta-2025.csv')
df_microsoft = pd.read_csv('Microsoft-2025.csv')
df_nvidia = pd.read_csv('Nvidia-2025.csv')
df_oracle = pd.read_csv('Oracle-2025.csv')
df_paypal = pd.read_csv('PayPal-2025.csv')
df_tesla = pd.read_csv('Tesla-2025.csv')

In [3]:
# Insere uma nova coluna 'Empresa' na primeira posição (índice 0)

df_adobe.insert(0, 'Empresa', 'Adobe')
df_google_a.insert(0, 'Empresa', 'Google (A)')
df_google_c.insert(0, 'Empresa', 'Google (C)')
df_amazon.insert(0, 'Empresa', 'Amazon')
df_apple.insert(0, 'Empresa', 'Apple')
df_ibm.insert(0, 'Empresa', 'IBM')
df_intel.insert(0, 'Empresa', 'Intel')
df_meta.insert(0, 'Empresa', 'Meta')
df_microsoft.insert(0, 'Empresa', 'Microsoft')
df_nvidia.insert(0, 'Empresa', 'Nvidia')
df_oracle.insert(0, 'Empresa', 'Oracle')
df_paypal.insert(0, 'Empresa', 'PayPal')
df_tesla.insert(0, 'Empresa', 'Tesla')

## Concatena todos os dataframes em um único

In [4]:
# Concatenando os DataFrames verticalmente (empilhando um em cima do outro)

df_concatenado = pd.concat([df_adobe, df_google_a, df_google_c, df_amazon, df_apple,
                            df_ibm, df_intel, df_meta, df_microsoft, df_nvidia,
                            df_oracle, df_paypal, df_tesla], ignore_index=True)

In [5]:
# Volume

df_concatenado.shape

(16341, 7)

In [6]:
# Exibindo o DataFrame concatenado

df_concatenado.head(4)

  Empresa        Date Close/Last   Volume      Open     High      Low
0   Adobe  01/23/2025    $437.28  2716742   $435.88  $437.73  $432.49
1   Adobe  01/22/2025    $437.32  3391642   $438.00  $439.73  $433.43
2   Adobe  01/21/2025    $436.36  3833294   $433.26  $439.98  $431.50
3   Adobe  01/17/2025    $429.99  4012745  $434.345  $435.99  $425.70

In [7]:
# Informações

df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16341 entries, 0 to 16340
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Empresa     16341 non-null  object
 1   Date        16341 non-null  object
 2   Close/Last  16341 non-null  object
 3   Volume      16341 non-null  int64
 4   Open        16341 non-null  object
 5   High        16341 non-null  object
 6   Low         16341 non-null  object
dtypes: int64(1), object(6)
memory usage: 893.8+ KB

In [8]:
# Linhas Aleatórias

df_concatenado.sample(8)

,Empresa,Date,Close/Last,Volume,Open,High,Low
9291,Meta,02/06/2023,$186.06,42483810,$186.53,$190.70,$185.5156
12417,Nvidia,08/31/2020,$13.3745,500841200,$13.1828,$13.575,$13.0378
9205,Meta,06/09/2023,$264.95,16949790,$262.48,$267.949,$261.70
12477,Nvidia,06/05/2020,$8.92,481746000,$8.7945,$8.997,$8.708
15250,Tesla,05/23/2024,$173.74,71975500,$181.80,$181.90,$173.26
9247,Meta,04/11/2023,$213.85,16710100,$215.48,$216.02,$213.41
3107,Google (C),09/12/2022,$111.87,19732910,$111.99,$112.64,$110.93
3749,Google (C),02/25/2020,$69.4225,49565560,$71.65,$71.907,$69.12

## Tratamento das Colunas

In [9]:
# Converte a coluna 'Date' para Timestamp no formato em que ela está mm/dd/yyyy

df_concatenado['Date'] = pd.to_datetime(df_concatenado['Date'], format='%m/%d/%Y')

In [10]:
# Removendo o caractere '$' de todas as colunas do DataFrame

df_concatenado = df_concatenado.replace({r'\$': ''}, regex=True)

In [11]:
# Convertendo a coluna 'Close/Last' para o tipo float

df_concatenado['Close/Last'] = df_concatenado['Close/Last'].astype(float)

# Arredondando a coluna 'Close/Last' para 2 casas decimais

df_concatenado['Close/Last'] = df_concatenado['Close/Last'].round(2)

In [12]:
# Convertendo a coluna 'Volume' para o tipo int

df_concatenado['Volume'] = df_concatenado['Volume'].astype(int)

In [13]:
# Convertendo a coluna 'Open' para o tipo float

df_concatenado['Open'] = df_concatenado['Open'].astype(float)

# Arredondando a coluna 'Open' para 2 casas decimais

df_concatenado['Open'] = df_concatenado['Open'].round(2)

In [14]:
# Convertendo a coluna 'High' para o tipo float

df_concatenado['High'] = df_concatenado['High'].astype(float)

# Arredondando a coluna 'High' para 2 casas decimais

df_concatenado['High'] = df_concatenado['High'].round(2)

In [15]:
# Convertendo a coluna 'Low' para o tipo float

df_concatenado['Low'] = df_concatenado['Low'].astype(float)

# Arredondando a coluna 'Low' para 2 casas decimais

df_concatenado['Low'] = df_concatenado['Low'].round(2)

In [16]:
# Linhas Aleatórias

df_concatenado.sample(8)

          Empresa       Date  Close/Last    Volume    Open    High     Low
1013        Adobe 2021-01-11      474.24   2383254  481.99  482.59  471.30
13103      Oracle 2022-12-06       78.91   7656126   79.35   79.82   78.06
10018        Meta 2020-03-18      146.96  37553140  139.75  148.18  137.10
4415       Amazon 2022-06-29      108.92  66375340  107.38  110.99  106.91
9786         Meta 2021-02-18      269.39  15249130  269.56  271.95  266.03
1003        Adobe 2021-01-26      476.28   2363124  473.73  477.22  467.76
3002   Google (C) 2023-02-10       94.86  49325280   95.74   97.02   94.53
3726   Google (C) 2020-03-27       55.54  64169900   56.28   57.53   55.30

In [17]:
# Informações

df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16341 entries, 0 to 16340
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Empresa     16341 non-null  object
 1   Date        16341 non-null  datetime64[ns]
 2   Close/Last  16341 non-null  float64
 3   Volume      16341 non-null  int64
 4   Open        16341 non-null  float64
 5   High        16341 non-null  float64
 6   Low         16341 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 893.8+ KB

In [18]:
# Renomeando as colunas

df_concatenado = df_concatenado.rename(columns={'Date': 'Data'})
df_concatenado = df_concatenado.rename(columns={'Close/Last': 'Fechamento'})
df_concatenado = df_concatenado.rename(columns={'Open': 'Abertura'})
df_concatenado = df_concatenado.rename(columns={'High': 'Maximo'})
df_concatenado = df_concatenado.rename(columns={'Low': 'Minimo'})

In [19]:
# Informações

df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16341 entries, 0 to 16340
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Empresa     16341 non-null  object
 1   Data        16341 non-null  datetime64[ns]
 2   Fechamento  16341 non-null  float64
 3   Volume      16341 non-null  int64
 4   Abertura    16341 non-null  float64
 5   Maximo      16341 non-null  float64
 6   Minimo      16341 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 893.8+ KB

In [20]:
# Linhas Aleatórias

df_concatenado.sample(8)

      Empresa       Data  Fechamento     Volume  Abertura  Maximo  Minimo
15222   Tesla 2024-07-05      251.52  154501200    249.81  252.37  242.46
5184    Apple 2024-06-07      196.89   53103910    194.65  196.94  194.14
9209     Meta 2023-06-05      271.39   20742950    270.30  275.57  269.56
9555     Meta 2022-01-18      318.15   22677330    323.29  324.21  317.64
13149  Oracle 2022-09-30       61.07    9794421     61.26   62.14   61.06
15923   Tesla 2021-09-20      243.39   74272957    244.85  247.33  239.54
15698   Tesla 2022-08-11      286.63   70155067    296.51  298.24  285.83
4724   Amazon 2021-04-08      164.96   56241800    165.54  166.22  164.60

In [21]:
# Linhas Aleatórias

df_concatenado.sample(8)

          Empresa       Data  Fechamento     Volume  Abertura  Maximo  Minimo
3056   Google (C) 2022-11-22       97.33   18868850     96.16   97.55   94.41
8845         Meta 2024-11-13      580.00   10757580    582.60  585.64  575.17
6124        Apple 2020-09-11      112.00  180860300    114.57  115.23  110.00
8593        Intel 2020-11-13       45.46   30898110     44.99   45.58   44.97
15030      PayPal 2020-04-09      105.84   10894920    105.63  108.70  104.78
9455         Meta 2022-06-10      175.57   27478350    183.04  183.10  175.02
7402          IBM 2020-08-12      122.63    3530177    123.51  123.69  121.84
6122        Apple 2020-09-15      115.54  184642000    118.33  118.83  113.61

### Filtra as Datas de Início e Término do Período (20-01-2021 até 20-01-2025)

In [22]:
# Filtrando as linhas e deixando o dataframe somente com datas maiores ou igual a 2021-01-20

df_filtrado = df_concatenado[df_concatenado['Data'] >= '2021-01-20']

In [23]:
# Filtrando as linhas e deixando o dataframe somente com as datas menores ou igual a 2025-01-20

df_filtrado = df_filtrado[df_filtrado['Data'] <= '2025-01-20']

In [24]:
# Verifica a Menor Data

df_filtrado['Data'].min()

Timestamp('2021-01-20 00:00:00')

In [25]:
# Verifica a Maior Data

df_filtrado['Data'].max()

Timestamp('2025-01-17 00:00:00')

In [26]:
# Informações

df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13065 entries, 3 to 16091
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Empresa     13065 non-null  object
 1   Data        13065 non-null  datetime64[ns]
 2   Fechamento  13065 non-null  float64
 3   Volume      13065 non-null  int64
 4   Abertura    13065 non-null  float64
 5   Maximo      13065 non-null  float64
 6   Minimo      13065 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 816.6+ KB

In [27]:
# Linhas Aleatórias

df_filtrado.sample(6)

          Empresa       Data  Fechamento    Volume  Abertura  Maximo  Minimo
2579   Google (C) 2024-10-17      164.51  15113360    167.38  167.93  164.37
680         Adobe 2022-05-06      391.01   3522430    395.00  401.26  382.82
9223         Meta 2023-05-15      238.86  20653230    236.92  240.26  235.33
4700       Amazon 2021-05-12      157.60  98728200    159.25  160.40  156.66
5227        Apple 2024-04-08      168.45  37425510    169.03  169.20  168.24
13422      Oracle 2021-08-31       89.13   8113258     89.45   89.50   88.49

## Salva o Dataframe em um arquivo Excel

In [28]:
# Salvando o DataFrame (sem o indice) em um arquivo .xlsx

df_filtrado.to_excel('StockMarket.xlsx', sheet_name='StockMarket', index=False)